body{
    background-color:rgb(31, 46, 110);
    background-image: url("./images/kn23l8t2ma451.jpg");
}
#cntry_name{
    border-radius: 10px;
    width: 84%;
    height: 35%;
}
.btn{
    border-radius: 7px;
 
}
.nj{
    box-shadow: 30px 30px 30px,
                30px 30px 30px,
                30px 30px 30px;
}
h3{
 margin-left: 40%;
}
nav{
    background:none;
}